@import "vendor";
@import "mixins";
@import "settings";

body {
  background: linear-gradient(0deg, #000 0%, #2C3350 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
}

.header {
  background: rgba(0, 0, 0, 0.33);
  height: 70px;
  box-shadow: 0px 4px 94.1px 14px rgba(3, 6, 16, 0.97);
  .icon-holder {
    // display: flex;
    // justify-content: flex-end;
    // gap: 20px;
    // padding: 43px 110px 43px 0px;
    .telega {
      transition: 0.5s;
      cursor: pointer;
    }
    .telega:hover {
      filter: contrast(150%) brightness(140%) drop-shadow(3px 10px 0px #6cacb1);
    }

    .mail {
      transition: 0.5s;
      cursor: pointer;
    }
    .mail:hover {
      filter: contrast(150%) brightness(140%) drop-shadow(3px 10px 0px #6cacb1);
    }

  }
}

.container {
  @include container;
  .home-main {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 840px);
    gap: 50px;
    .home-left {
      display: flex;
      flex-direction: column;
      gap: 27px;
      h3 {
        @include Text50;
      }
      p {
        @include Text20;
      }

      .link-button {
        width: 190px;
        height: 60px;
        border-radius: 20px;
        transition: all 0.3s;
        outline: 3px solid rgba(8, 217, 204, 0.53);
        outline-offset: 5px;

        display: flex;
        justify-content: space-evenly;


        &:hover {
          outline-offset: 0px;
          outline-color: rgb(10, 129, 10);
          transform: translateY(-3px);

          width: 220px;
          .arrow {
            transform: translateX(15px); // Сдвиг стрелки при наведении на всю кнопку
          }
        }
        
        .arrow {
          padding-top: 16px;
          text-align: center;

          transition: all 0.3s;
        }

        .button-p {
          @include Text20;
          padding-top: 7px;
          line-height: 104.375%; /* 22.875px */
          text-align: center;
        }
      }
    }
    .home-right {
      position: relative;
      .home1-img {
        position: absolute;
        top: -8px;
        left: 15px;

        width: 579px;
        height: 389px;
        border-radius: 234.5px;
        background: lightgray 50% / cover no-repeat;
        box-shadow: 0px 0px 0px 9px #205899;
      }
      .home2-img {
        position: absolute;
        top: 423px;
        left: 183px;

        width: 563px;
        height: 336px;
        border-radius: 166px;
        background: lightgray 50% / cover no-repeat;
        box-shadow: 0px 0px 4px 9px rgba(27, 66, 204, 0.58);
      }
    }
  }
}

