@import "vendor";
@import "mixins";
@import "settings";

body {
  background: #000;
}

.container {
  @include container;
  margin-bottom: 73px;
  h1 {
    @include Text50;
  }
  .result-grid {

    display: grid;
    grid-template-columns: repeat(8, 157px);
    grid-template-rows: repeat(5, 147px);
    column-gap: 57px;
    row-gap: 34px;

    .grid-block {
    box-shadow: 0px 0px 41.8px #1B708B;
    border-radius: 67px;
    // background-color: #2f2e6b;

    }
    .item1 {
      grid-area: 1 / 1 / 6 / 5;

      .sorting {
        margin-top: 38px;
        display: flex;
        justify-content: center;
        position: relative;

        .sort-button {
          position: relative;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 24px;

          width: 338px;
          height: 49.574px;
          background-color: #2C3350;
          border-radius: 18px;
          .sort-type {
            @include Text20;
          }
          .sort-arrow {
            position: absolute;
            left: 280px;

            display: flex;
            align-items: center;

            height: 49.574px;
            transform: rotateX(180deg);
          }
        }
        .sort-methods {
          position: absolute;
          top: 66px;
          left: 230px;

          display: flex;
          flex-direction: column;
          align-items: center;
          align-items: center;

          width: 338px;
          height: 90px;
          border-radius: 18px;
          background: #2C3350;

          z-index: 1;

          @include Text20;
          
        }
      }

      .person-scroll {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 695px;
        .person {
          display: flex;
          align-items: flex-end;
          align-content: center;
          justify-content: space-evenly;

          .fio-and-bar {
            .person-name {
              @include Text24;
            }

            .bar-holder {
              width: 544px;
              height: 25px;

              border-radius: 27px;
              background: #D0E3D2;

              position: relative;
              overflow: hidden;
              .bar {
                width: 30%;
                height: 100%;
                position: absolute;

                transition: 0.5s;
                
                border-radius: 27px;
                background: linear-gradient(90deg, #7ADE2D 0%, #5AA521 100%);
              }
            }
          }
          .person-percent {
            .percent-holder {
              width: 127px;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center;
              p {
                @include Text24;
                line-height: 120.375%;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .item2 {
      grid-area: 1 / 5 / 3 / 9;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .myCircl-holder {
        width: 220px;
        height: 220px;
        position: relative;
        
        .chelick-holder {
          width: 134px;
          height: 50px;

          position: absolute;
          top: 77px;
          left: 45px;

          overflow: hidden;
          p {
            @include Text50;
            text-align: center;
          }
        }

      }
      .myCircl-stat {
        p {
          @include Text50;
        }
      }
    }
    .item3 {
      grid-area: 3 / 5 / 6 / 9;
      display: flex;
      align-items: center;
      justify-content: center;
      .myChart-holder {
        width: 756px;
        height: 408px;
      }
    }
    
  }
}